*{
    margin:0;
    padding:0;
}
:root {
    --color1: salmon;
    --color2: brown;
}
body{
    background-image: url("./open-book-wooden-table.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-size: 1.8rem;
    color: rgb(140, 6, 24);

}
.container{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    /*background-color: var(--color2);
    */padding: 50px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    gap: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
    -webkit-transform: translate(-50%,-40%);
    -moz-transform: translate(-50%,-40%);
    -ms-transform: translate(-50%,-40%);
    -o-transform: translate(-50%,-40%);
}
.input-group{
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}
.inText{
   font-size: 3rem;
   border: none;
   outline: none;
   width: 60%;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}
.btn{
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.meaning-container{
    display: none;

}
.active{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.active span{
  
    padding: 5px;
}